<div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
    <img src="{{cover}}" class="card-img-top" alt="..." />
    <div class="card-body mx-auto text-center">
        <h5 class="card-title">{{summary}}</h5>
        <a href="{{url}}" target="_blank" class="btn btn-sm p-2" style="font-size: 1rem">See More</a>
    </div>
</div>
{{!-- tool tip with rest of the {{name}} --}}