  <div class="where-logo-is">
      <img id="logo" src="/public/images/transparent-logo.png" class="mx-auto d-block" alt="logo" />
      <button type="button" class="btn btn-lg mx-auto d-block" id="start-btn">Let's Get Started</button>
    </div>