<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookify</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  </head>
  <body>
    <header>
      <button id="login-btn">Login</button>
      <button id="signup-btn">Sign Up</button>
    </header>
    <main>
      B
      <img src="/public/images/Bookify-logos_black.png" alt="logo" />
      <button id="go-btn">Lets get started!</button>
    </main>
  </body>
</html>
