    <div class="container p-5" id="book-quiz-container">
        <div class="row">
            <h1 class="text-center col-md-12 p-4" style="font-size: 450%">Don't know what to read next ?</h1>
        <button type="button" class="btn btn-lg col-md-3 mx-auto my-auto d-block" id="quiz-btn">
            Take a Quiz
        </button>
        </div>
        
    </div>

    <!-- Genres Container -->
    <div class="" id="genres-container">
        <h1 class="p-5" >Discover New Genres</h1>
        <div class="container"></div>
        <div class="row" id="genre-icons">
            <div class="col-md-3 col-sm-6 text-center" style="border-radius: 3mm " >
                <a href="/discover/genre/scifi"><img src="/images/science-fiction.png" style="width: 65%" id="sci-fi" /></a>
                <h4>sci-fi</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/finance"><img src="/images/finance.png" style="width: 65%" id="finance" />
                <h4>finance</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/romance"><img src="/images/romantic-novel.png" style="width: 65%" id="rom" />
                <h4>romance</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/autobiography"><img src="/images/autobio.png" style="width: 65%" id="autobiography" />
                <h4>autobiography</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/horror"><img src="/images/horror.png" style="width: 65%" id="horror" />
                <h4>horror</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/mstery"><img src="/images/mystery.png" style="width: 65%" id="mystery" />
                <h4>mystery</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/cook-books"><img src="/images/cookbook.png" style="width: 65%" id="cook-books" />
                <h4>cook books</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/history"><img src="/images/history.png" style="width: 65%" id="history" />
                <h4>history</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/thriller"><img src="images/thriller.png" style="width: 65%" id="thriller" />
                <h4>Thriller</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/non-fiction"><img src="images/non-fiction.png" style="width: 65%" id="non-fiction" />
                <h4>Non-Fiction</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/fantasy"><img src="/images/fantasy.png" style="width: 65%" id="fantasy" />
                <h4>Fantasy</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/adventure"><img src="/images/adventure.png" style="width: 65%" id="adventure" />
                <h4>adventure</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/detective"><img src="images/detective.png" style="width: 65%" id="detective" />
                <h4>detective</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/true-crime"><img src="/images/true-crime.png" style="width: 65%" id="true-crime" />
                <h4>true-crime</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/literary-fiction"><img src="/images/literary-fiction.png" style="width: 65%" id="literary-fiction" />
                <h4>literary-fiction</h4>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/discover/genre/poetry"><img src="/images/poetry.png" style="width: 65%" id="poetry" />
                <h4>poetry</h4>
            </div>
        </div>
    </div>
    

</body>

</html>