<!-- {{>first-pg}}-->
    <div class="where-logo-is">
      <img id="logo" src="images/transparent-logo.png" class="mx-auto d-block" alt="logo" />
      <div class="container btn-container p-3">
                <a class="btn btn-lg mx-auto d-block" style="width: 35%" id="start-btn" href="/discover">Let's Get Started
        </a>
        </button>
      </div>
      
    </div>