<!-- {{>first-pg}}-->
    <div class="where-logo-is">
      <img id="logo" src="images/transparent-logo.png" class="mx-auto d-block" alt="logo" />
      <div class="container btn-container p-3">
        <button type="button" class="btn btn-lg mx-auto d-block" style="width: 35%" id="start-btn">
          <p class="text-center my-auto" style="font-size: 90%;">Let's Get Started</p>
        </button>
      </div>
      
    </div>