
  <div class="login-card d-flex flex-column justify-content-center align-items-center p-3">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
<<<<<<< HEAD
        <input class="form-input m-3" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input m-3" type="password" id="password-login" />
=======
        <input class="form-input" type="text" id="email-login"/>
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login"/>
>>>>>>> main
      </div>
      <div class="form-group">
        <button class="btn btn-dark m-3" type="submit">login</button>
      </div>
    </form>
  </div>
  <script src="/js/login.js"></script>