<div class="book card">
    <div class="card-header">
        <h2>Add a New Review</h2>
    </div>
    <form id="new-book-form" class="card d-flex flex-column justify-content-start bg-dark text-light" action="/booklog/all-booklogs" method="POST">
        <label class="form-label text-light" for="title">Book Title</label>
        <input type="text" name="title" class="form-input m-3" />
        <label class="form-label text-light" for="author">Author</label>
        <input type="text" name="author" class="form-input m-3" />

        <label class="form-label text-light" for="body">Review</label>
        <textarea name="body" class="form-input m-3"></textarea>

       <button type="submit" class = "btn m-3">Create</button> 
       {{!-- <button type="submit" class="btn">Create</button> --}}
    </form>
</div>

{{!-- <script src="/js/new-booklog.js"></script> --}}