<div class="book card">
    <div class="card-header">
        <h2>Add a New Review</h2>
    </div>
    <form id="new-book-form" class="card-body">
        <label class="form-label" for="book-title">Book Title</label>
        <input type="text" name="book-title" class="form-input" />
        <label class="form-label" for="book-author">Author</label>
        <input type="text" name="book-author" class="form-input" />

        <label class="form-label" for="book-body">Review</label>
        <textarea name="book-body" class="form-input"></textarea>

       <a href="/booklog/all-booklogs" type="submit" class = "btn">Create</a> 
       {{!-- <button type="submit" class="btn">Create</button> --}}
    </form>
</div>

<script src="/js/new-booklog.js"></script>