<section class="start-screen container-fluid">
  <div class="d-flex flex-column justify-content-center align-items-center p-3">
    <h1>
      Let's find a book
    </h1>
  </div>
</section>
<div
  class="quiz container vh-100 flex-column justify-content-center align-items-center"
>
  <section
    class="card d-flex flex-column justify-content-start bg-dark text-light m-3"
  >
    <div
      id="question"
      class="card-title d-flex flex-column justify-content-center m-3"
    >
      Big Question Text
    </div>
    <div
      id="answer"
      class="card-title d-flex flex-column justify-content-center m-3"
    >
      <button
        id="button1"
        class="answer-button btn btn-light m-2 text-left"
      ></button>
      <button
        id="button2"
        class="answer-button btn btn-light m-2 text-left"
      ></button>
      <button
        id="button3"
        class="answer-button btn btn-light m-2 text-left"
      ></button>
      <button
        id="button4"
        class="answer-button btn btn-light m-2 text-left"
      ></button>
    </div>
  </section>
</div>
<script src="js/quizData.js"></script>