<div id="review-info" class="card-body bg-dark text-light">
    <h1><span>{{post.title}}</span></h1>
    <h4>Author</h4>
    <p><span>{{post.author}}</post></span></p>
    <h4>Review</h4>
    <p><span>{{post.body}}</span></p>
  </div>
  <a class="text-dark m-3" href="/booklog">Back to Book Log</a>
  
</div>
<div class="row">

<button class="btn text-dark m-3 d-flex flex-column justify-content-end " href="/booklog" ><img src="/images/delete.png" alt="delete" id="delete-booklog" style="width: 1rem"></button>
</div>

<script src="/js/delete-booklog.js"></script>